<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DINGYUE_API_KEY</key>
	<string>eyJraWQiOiIzNDc0ODY1OTk5MTgwMDg1MzAyIiwidHlwIjoiSldUIiwiYWxnIjoiSFM1MTIifQ.eyJvd25lciI6InRlc3RzZGsiLCJhcHBfbmFtZSI6ImFwcOa1i-ivle-8iGlvc3BwLmNvbS50ZXN077yJIiwiaXNzIjoiRmFyVGVjaCBBcHAgQ2VudGVyIFNlcnZpY2UiLCJleHAiOjQ4MTE3MTMxMjcsImlhdCI6MTY1ODExMzEyNywidXNlciI6IjM1NDY2OTE2MDEzNjQ0NDQyMTYifQ.qs3FgZzlAR6ypuKtxKYYmK4c2ZcYwEn9Z0zq9jAmMx5xatWWKebh15LkUWi7idUEkwlioPs4TO-UZyG14gZa4A</string>
	<key>DINGYUE_APP_ID</key>
	<string>3546691601364444216</string>
</dict>
</plist>
