<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DINGYUE_API_KEY</key>
	<string>eyJraWQiOiI0MTIyMDMxOTU0ODU5MjA5MDE2IiwidHlwIjoiSldUIiwiYWxnIjoiSFM1MTIifQ.eyJvd25lciI6InRlc3RzZGsiLCJhcHBfbmFtZSI6Iuiuoeeul-WZqCIsImlzcyI6IkZhclRlY2ggQXBwIENlbnRlciBTZXJ2aWNlIiwiZXhwIjo0ODExOTAyODQzLCJpYXQiOjE2NTgzMDI4NDMsInVzZXIiOiI3MjM0MjQ1OTg2NDY3NzIxNzc3In0.9h-aKt_tfqSssAx8lE2i5rjz2r_dvmT64SfN4_xK0wRmjWAkS_fvGa8gnsJyyntvW_oK9xo1mp7pi5Y3Xjpp0Q</string>
	<key>DINGYUE_APP_ID</key>
	<string>7234245986467721777</string>
</dict>
</plist>
